<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 18.170000076293945 242 33.660003662109375" data-asc="1.025"><g fill="#00518f"><g fill="#00518f" transform="translate(0, 0)"><path d="M0.00 51.25L0.00 18.75L11.58 18.75Q17.79 18.75 20.65 21.31Q23.50 23.87 23.50 28.17Q23.50 32.46 20.65 35.02Q17.79 37.58 11.58 37.58L4.67 37.58L4.67 51.25L0.00 51.25M4.67 33.83L11.38 33.83Q15.29 33.83 17.02 32.46Q18.75 31.08 18.75 28.17Q18.75 25.25 17.02 23.87Q15.29 22.50 11.38 22.50L4.67 22.50L4.67 33.83ZM41.46 51.83Q36.50 51.83 33.23 49.77Q29.96 47.71 28.35 43.92Q26.75 40.12 26.75 35.00Q26.75 29.83 28.35 26.06Q29.96 22.29 33.23 20.23Q36.50 18.17 41.46 18.17Q46.46 18.17 49.71 20.23Q52.96 22.29 54.56 26.06Q56.17 29.83 56.17 35.00Q56.17 40.12 54.56 43.92Q52.96 47.71 49.71 49.77Q46.46 51.83 41.46 51.83M41.46 48.08Q46.54 48.08 48.98 44.65Q51.42 41.21 51.42 35.00Q51.42 28.79 48.98 25.35Q46.54 21.92 41.46 21.92Q36.38 21.92 33.94 25.35Q31.50 28.79 31.50 35.00Q31.50 41.21 33.94 44.65Q36.38 48.08 41.46 48.08ZM61.67 51.25L61.67 18.75L73.79 18.75Q77.92 18.75 80.42 19.92Q82.92 21.08 84.04 23.04Q85.17 25.00 85.17 27.42Q85.17 30.58 83.40 32.75Q81.63 34.92 78.17 35.75L86.08 51.00L86.08 51.25L81.17 51.25L73.54 36.37L66.25 36.37L66.25 51.25L61.67 51.25M66.25 32.79L73.50 32.79Q77.25 32.79 78.83 31.44Q80.42 30.08 80.42 27.62Q80.42 25.12 78.83 23.81Q77.25 22.50 73.50 22.50L66.25 22.50L66.25 32.79ZM97.88 51.25L97.88 22.67L87.08 22.67L87.08 18.75L113.33 18.75L113.33 22.67L102.54 22.67L102.54 51.25L97.88 51.25ZM118.33 51.25L118.33 18.75L139.42 18.75L139.42 22.67L123.00 22.67L123.00 32.04L136 32.04L136 35.79L123.00 35.79L123.00 51.25L118.33 51.25ZM156.88 51.83Q151.92 51.83 148.65 49.77Q145.38 47.71 143.77 43.92Q142.17 40.12 142.17 35.00Q142.17 29.83 143.77 26.06Q145.38 22.29 148.65 20.23Q151.92 18.17 156.88 18.17Q161.88 18.17 165.13 20.23Q168.38 22.29 169.98 26.06Q171.58 29.83 171.58 35.00Q171.58 40.12 169.98 43.92Q168.38 47.71 165.13 49.77Q161.88 51.83 156.88 51.83M156.88 48.08Q161.96 48.08 164.40 44.65Q166.83 41.21 166.83 35.00Q166.83 28.79 164.40 25.35Q161.96 21.92 156.88 21.92Q151.79 21.92 149.35 25.35Q146.92 28.79 146.92 35.00Q146.92 41.21 149.35 44.65Q151.79 48.08 156.88 48.08ZM177.08 51.25L177.08 18.75L181.75 18.75L181.75 47.33L197.08 47.33L197.08 51.25L177.08 51.25ZM202.25 51.25L202.25 18.75L206.92 18.75L206.92 51.25L202.25 51.25ZM227.29 51.83Q222.33 51.83 219.06 49.77Q215.79 47.71 214.19 43.92Q212.58 40.12 212.58 35.00Q212.58 29.83 214.19 26.06Q215.79 22.29 219.06 20.23Q222.33 18.17 227.29 18.17Q232.29 18.17 235.54 20.23Q238.79 22.29 240.40 26.06Q242.00 29.83 242.00 35.00Q242.00 40.12 240.40 43.92Q238.79 47.71 235.54 49.77Q232.29 51.83 227.29 51.83M227.29 48.08Q232.38 48.08 234.81 44.65Q237.25 41.21 237.25 35.00Q237.25 28.79 234.81 25.35Q232.38 21.92 227.29 21.92Q222.21 21.92 219.77 25.35Q217.33 28.79 217.33 35.00Q217.33 41.21 219.77 44.65Q222.21 48.08 227.29 48.08Z"/></g></g></svg>
    </a>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-md font-medium">
            <span>Mélanie Albert</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-md font-semibold"
            >Estudiante de comunicación</span
          >
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="https://www.linkedin.com/in/m%C3%A9lanie-albert-41894b157"
                class="hover:text-secondary/80 text-secondary"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
                </svg>
                </a
              >
            </li><li>
              <a
                href="mailto:albertmelanie21@gmail.com"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="20"
                  width="20"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
      <div class="flex w-full">
      </div>
    </div>
  </div>
</section>
