---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div>
      <img data-aos="fade-up"
      data-aos-duration="2000" class="lg:col-start-1 lg:w-1/4 w-1/2 mb-5 lg:mb-10 mx-auto" 
      src="/images/landing-intro.png" alt="">
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 text-secondary gap-6 lg:gap-y-12">
      <p
        class="text-base lg:col-start-1 leading-relaxed lg:w-3/4 mx-auto"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      ¡Hola! Soy Mélanie Albert, tengo 24 años, y actualmente estoy haciendo un Master 2 en Cultura y Comunicación en la Universidad de Alicante. Anteriormente obtuve una licenciatura en Información y Comunicación en Francia, y me apasionan todos los aspectos del campo de la comunicación.
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed lg:w-3/4 mx-auto"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      <span class="underline underline-offset-4">Estoy buscando unas prácticas</span> para seguir desarrollando mis habilidades y contribuir en proyectos gratificantes. Mis áreas de interés incluyen el diseño, la estrategia de comunicación y la gestión de proyectos. Concedo especial importancia al aprendizaje continuo, sobre todo en herramientas como la suite de Adobe y Figma, con el fin de desarrollar sólidas habilidades técnicas.
      </p>
      <p
        class="text-base lg:col-start-1 leading-relaxed lg:w-3/4 mx-auto"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      Apasionada por los idiomas y el intercambio cultural, también tuve la suerte de participar en un intercambio escolar a Colombia en 2017, lo que reforzó mi interés por el ámbito internacional. Mi experiencia como profesora de francés en Galicia me permitió adquirir un buen nivel de español y ampliar mis horizontes lingüísticos y culturales.
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed lg:w-3/4 mx-auto"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
      Fuera de mis estudios, me gusta viajar, dar largos paseos junto al mar y escuchar música.
      <br><br>Me considero una persona creativa, flexible, organizada y responsable.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
      
      </p>
    </div>
  </div>

</section>
