---
// Define testimonials/descriptions data
const experiences = [
  {
    name: "Máster 2 cultura y comunicación",
    year: "2024 - 2025",
    description:
      "Erasmus en la Universidad de Alicante.",
  },
  {
    name: "Máster 1 cultura y comunicación",
    year: "2023 - 2024",
    description:
      "Universidad Jean Jaurès - Toulouse.",
  },
  {
    name: "Grado información y comunicación.",
    year: "2019 - 2022",
    description:
      "Universidad côte d'azur - Nice.",
  },
  {
    name: "Bachillerato con distinción AB",
    year: "2019",
    description:
      "Instituto Auguste & Louis Lumière - La Ciotat",
  },
  {
    name: "Intercambio en Colombia",
    year: "2017 - 2018",
    description:
      "Aprender español.",
  },
];
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>Mi</span>
        <span class="font-bold">experiencia</span>
      </h3>
      <div class="h-1.5 bg-secondary"></div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-5 text-secondary gap-6 pt-2 mt-2">
      {
        experiences.map((description) => (
         <div>
            <p class="italic text-2xl block font-bold">
              {description.name}
            </p>
            <small> {description.year}</small>
            <p class="text-sm leading-relaxed mt-6">
              {description.description}
            </p>
         </div>
        ))
      }
    </div>
  </div>
</section>
